node_modules
dist
build
coverage
.env
.DS_Store
.idea
.vscode
*.log
*.tsbuildinfo
*.cache
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz
*.tgz
*.exe
*.dll
*.so

#docs
radosgw-admin-*.md
myplan/
docs/api
website/.docusaurus
website/build
website/node_modules
